.container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

section {
	display: flex;

	flex: 1;

	min-width: 300px;
	min-height: 300px;
}

#credit-card {
	background-color: #ddd;
	width: 400px;
}

#form {
	background-color: rgb(63, 49, 49);
	width: 600px;
}
